@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

// Update Bulma's global variables
$family-serif: 'Zilla Slab', serif;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$primary: hsl(0, 0%, 29%);

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";